.card-body{
  height: 180px;
}
.card-footer{
  margin-bottom: 20px;
}
.item{
  width: 260px;
  height: 390px;
  margin: 0px;
}
.item img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.ticket{
	margin:auto;
}
