html {
    position: relative;
    min-height: 100%;
}
body{
    background-color: #FFF0F5;
    margin: 0 0 100px; 
}
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;   
    background-color: #dc3545;
}
.footer{
    margin: auto;
    text-align: center;
    color: white;
    padding: 30px;
}
nav{
    margin-bottom: 70px;        
}
.header{
    width: 100%!important;
}
